
@{
    ViewBag.Title = "besinci_uluslararasi_hesaplamali_bilimler_ve_teknolojileri_konferansina_katildiks";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="case-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="content">
            <h1>5. Uluslararası Hesaplamalı Bilimler ve Teknolojileri Konferansına (ICCST 2018) Katıldık</h1>
            <div class="text" style="text-align:justify;">
                <p>23-26 Eylül 2018 tarihleri arasında Antalya Su Otelde 5. si düzenlenen Uluslararası Hesaplamalı Bilimler ve Teknolojileri Konferansına exhibitor olarak katılım sağladık. Hesaplamalı Bilimler alanında çalışan elliden fazla üniversitesinin ve akademisyenin katılımıyla gerçekleştirilen konferans 3 gün sürdü.3 gün süren konferansta yerli ve yabancı akademisyenlere HPC alanındaki yeni ürünlerimizin demosu ve Parallel Programming in High Performance Computing Systems" isimli sunum yapılmıştır.</p>
                <p>Uluslararası Hesaplamalı Bilim ve Teknolojileri Konferansı (ICCST), 2010 yılından bu yana Asya-Pasifik bölgesinde farklı ülkelerde organize edilen uluslararası bir bienal etkinliğidir. Temel bilimler ve mühendislik için hesaplama yöntemlerinde ilerlemeyi teşvik etmek ve yaymak için etkileyici bir kapsama sahiptir.</p>
                <p>Tayland (2010), Türkiye (2012), Endonezya (2014) ve Malezya (2016) 'da düzenlenen önceki başarılı ICCST toplantılarına dayanarak, bu konferans aynı zamanda uluslararası bilimsel değişim ve araştırmacıların işbirliğini teşvik edecek ve geliştirecektir. </p>
                <p>Sempozyum aşağıdaki konulara odaklanmıştır:</p>
                <ul class=" list-style-six">
                    <li>Bilgisayar Destekli İlaç Tasarımı ve Geliştirme</li>
                    <li>Hesaplamalı Biyoloji ve Bioinformatik</li>
                    <li>Hesaplamalı Kimya ve Cheminformatik</li>
                    <li>Hesaplamalı Mühendislik ve Matematik</li>
                    <li>Hesaplamalı Akışkanlar Dinamiği ve Katı Hal Mekaniği</li>
                    <li>Hesaplamalı Malzeme Bilimi</li>
                    <li> Hesaplamalı Fizik</li>
                </ul>
            </div>
        </div>
    </div>
</section>

