
@{
    ViewBag.Title = "Harran_HPC_Kapasite_Gelistirme_Eğitimi";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="case-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="image mb-30"><img src="~/Content/images/resource/harran.jpg" alt=""></div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="content">
            <h1>Harran HPC Kapasite Geliştirme Eğitimi</h1>
            <div class="text">
                <p>Harran Üniversitesi Yüksek Başarımlı Hesaplama Merkezi bölgemizdeki bilim insanlarına araştırma ve geliştirme desteği sağlayacak yüksek performanslı, yüksek veri saklama kapasiteli ve uygulama yazılımlarını içinde barındıran bütün disiplinlerden araştırmacıların kullanımına açık bir süper bilgisayar merkezidir. 2012 yılında hazırlıklarına başlanan ve 2017 yılında tamamlanan, Kalkınma Bakanlığı tarafından yatırım programına alınarak desteklenen bir projenin sonucudur. Merkez ayrıca üniversitelerin ve özel sektörün bilimsel araştırmalarında ve Ar-Ge faaliyetlerinde ileri hesaplamalar yapabilmeleri için gerekli altyapıyı sağlamaktadır.</p>
                <p>Bu merkezin etkin bir şekilde kullanılması amacı ile Harran Üniversitesi ve Karacadağ Kalkınma ajansının destekleriyle, Bilgisayar Mühendisliği bölümü tarafından üç gün süren “Harran Üniversitesi Yüksek Başarımlı Hesaplama Merkezi Kapasite Geliştirme Eğitimi” eğitimi verdik. 20 kursiyerin katıldığı eğitim programında kursiyerlere merkezdeki süper bilgisayarda işlemlerini nasıl gerçekleştirecekleri ve bu bilgisayara uzaktan nasıl bağlanacakları konularında bilgiler verildi. Eğitim sonunda başarılı olan kursiyerlere katılım sertifikaları Harran Üniversitesi Rektörü Prof. Dr. Ramazan Taşaltın, tarafından verildi. Törene üniversite Genel Sekreteri Doç. Dr. M. Tahir Güllüoğlu, Merkez Müdürü V. Yrd. Doç. Dr. İ. Berkan Aydilek, Teknik Bilimler MYO Müdürü M. Azmi Aktacir, öğretim elemanları ve öğrenciler katıldı.</p>
            </div>
        </div>

    </div>
</section>

