
@{
    ViewBag.Title = "ondukuzuncu_akademik_bilisim_kongresi_oncesinde_egitim_verdik";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="case-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="content">
            <h1>19. Akademik Bilişim Kongresi Öncesinde Eğitim verdik</h1>
            <div class="text" style="text-align:justify;">
                <p>
                    Bu kursun birinci kısmında katılımcıların yüksek
                    başarımlı hesaplama
                     altyapısı hakkında bilgilendirmek.
                    Bilgisayar sunucu sistemleri ile paralel programlama
                    çalışmalarını test edebilecekleri yüksek başarımlı
                    hesaplama altyapısının kurulumu ve dağıtık paralel
                    programlama kütüphanesinin kullanımı ile ilgili temel
                    bilgiler verilmşitir. Eğitim sırasında kullanıcıların
                    kendi bilgisayarları üzerinde sanal sunucular ile Linux
                    tabanlı işletim sistemi kurulumu, eğitim sırasında
                    kurulan sanal sunucuları ile HPC kümesinin
                    oluşturulması ve oluşan sistem üzerinde dağıtık iş
                    çalıştırılması çalışmaları gerçekleştirilmiştir. Kursun
                    ikinci bölümünde ise dağıtık paralel programlama
                    kütüphanesi olan MPI’ın temelleri ile uygulamalar
                    gerçekleştirilmiştir.
                </p>
            </div>
        </div>
    </div>
</section>

