
@{
    ViewBag.Title = "ondukuzuncu_akademik_bilisim_kongresine_katildik";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="case-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="content">
            <h1>19. Akademik Bilişim Kongresine Katıldık</h1>
            <div class="text" style="text-align:justify;">
                <p>Üniversitelerde bilgi teknolojileri konusunda ilgili grupları biraraya getirerek, bilgi teknolojileri altyapısı, kullanımı, eğitimi ve üretimini tüm boyutlarıyla tanıtmak, tartışmak, tecrübeleri paylaşmak ve ortak politika oluşturmak amaçlarıyla ulusal boyutta düzenlenen Akademik Bilişim 2017 konferansının 19. su, 8-10 Şubat 2017 tarihleri arasında Aksaray Üniversitemizin ev sahipliğinde yapılmıştır.</p>
                <p>8-10 Şubat 2017 tarihleri arasında Aksaray Üniversitesinde 19.su düzenlenen Akademik Bilişim 2017 konferansına "Neden Yüksek Başarımlı Hesaplama?" isimli bildirimizle katılım sağladık.</p>
                <p></p>
            </div>
        </div>
    </div>
</section>
