
@{
    ViewBag.Title = "Turkiye_internet_konferansina_konusmaci_olarak_katildik";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="case-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="content">
            <h1>Türkiye’de İnternet Konferansın’a konuşmacı olarak katıldık</h1>
            <div class="text" style="text-align:justify;">
                <p>‘Türkiye’de İnternet Konferansı’nın 21 incisi 3-5 Kasım 2016 tarihleri arasında Ankara TED Üniversitesi’nde yapıldı.</p>
                <p>İlki 17-18 Kasım 1995’te Bilkent Üniversitesi’nde yapılan Türkiye’de İnternet Konferansı’nın 21’ncisi 3-5 Kasım tarihleri arasında TED Üniversitesi, Ankara’da yapıldı.</p>
                <p>Her yıl İnternet Teknolojileri Derneği’nin ve yerel düzenleyici üniversitelerin katkılarıyla düzenlenen konferans, Türkiye’de internet ile ilgili grupları bir araya getirerek interneti tüm boyutlarıyla tanıtmak ve internet teknolojileriyle toplumsal verimliliği arttırarak toplumun dikkatini olabildiğince bu yöne çekmek amacıyla düzenleniyor. Konferansta bu yıl “4. Sanayi Devrimi”, “İnternet Ekonomisi”, “Bilgi Toplumu ve Bilgi Ekonomisi”, “Yapay Zekâ”, “İnternet ve Demokrasi”, “Mobil Ağlar”, “Sosyal Ağlar”, “Yeni Medya”, “Siber Güvenlik”, “Bireysel Güvenlik ve Mahremiyet”, “Medya/Bilgi Okuryazarlığı” konuları ön plana çıktı.</p>
            </div>
        </div>
    </div>
</section>

