
@{
    ViewBag.Title = "UcG_Günleri_Geleneksel_Girisim_Gelisim_Gunleri";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="case-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="image mb-30"><img src="~/Content/images/resource/iu.jpg" alt=""></div>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
        <div class="content">
            <h1>3G Günleri Geleneksel Girişim Gelişim Günleri</h1>
            <div class="text" style="text-align:justify;">
                <p>İstanbul Üniversitesi Endüstri ve Kalite Kulübü tarafından düzenlenen IX. 3G (Geleneksel-Girişim-Gelişim) Günleri etkinliği bu yıl 24-26 Aralık 2017’da İstanbul Üniversitesi Avcılar Kampüsü Ali Rıza Berkem Konferans Salonunda gerçekleştirilen etkinliğe “Endüstri Mühendisliği Öğrencilerine Yüksek Başarımlı Hesaplama” başlıklı bir konuşma ile katıldık.</p>
            </div>
        </div>
    </div>
</section>

