
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<!-- Our Experience  -->
<section class="our-experience sp-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pr-lg-5">
                <div class="video-image-box">
                    <div class="image" style="margin-top:65px;">
                        <img src="~/Content/images/siteresim/MisyonVizyon.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-5">
                <div class="sec-title deep">
                    <div class="big-title">Mevasis</div>
                    <h1>Mevasis <br></h1>
                </div>
                <div class="tab-box">
                    <ul class="tab-list">
                        <li><a href="#tab-one" class="active-btn tab-btn">Misyonumuz</a></li>
                        <li><a href="#tab-two" class="tab-btn">Vizyonumuz</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-item active-tab" id="tab-one">
                            <div class="text" style="text-align:justify;">
                                <ul>
                                    <li>Açık Kaynak çözümlerini iş ortaklarına ulaştırmak,</li>
                                    <li>İş ortaklarımızı yüksek lisans ücretlerinden kurtarmak,</li>
                                    <li>Hayatı kolaylaştıracak katma değerli bilişim hizmetlerini sağlamak,</li>
                                    <li>Sorunsuz BT altyapıları ile iş ortaklarımızın işlerini hızlandırmak,zaman kavramı olmadan hızlı, esnek ve güvenilir çözümler üretmek.</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="tab-item" id="tab-two">
                            <div class="text" style="text-align:justify;">
                                <ul>
                                    <li>Bilişim ve Bilgi Teknolojileri alanında tercih edilirliği artırarak Türkiye pazarında marka imajını güçlendirmek,</li>
                                    <li>Sektördeki bilgi kirliliğinden arındırılmış şeffaf hizmetler sunmak,</li>
                                    <li>İş ortaklarımızı yarına hep bir adım önde götürmek,</li>
                                    <li>Bunları yaparken iş ortaklarımız ile beraber büyümeyi ve gelişmeyi hedefliyoruz.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end tab -->
            </div>
        </div>
    </div>
</section>
<!-- Why-chooseus -->
<section class="why-chooseus-two sp-one grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="sec-title deep">
                    <div class="big-title"></div>
                    <h1>Neden <br>Mevasis</h1>
                </div>
                <div class="text" style="text-align:justify;">

                    <p style="text-align:justify">
                        Her biri bilişim ve bilgi teknolojileri alanında uzman profesyonellerin bir araya gelerek siz değerli iş ortaklarının ihtiyaçları için tek kaynak iddiası ile kurdukları MEVASİS Bilişim Danışmanlık ve Eğitim ve Tic. Ltd. Şti. iş hayatına başlamıştır. Hizmet stratejilerini siz kıymetli iş ortaklarının ihtiyaç ve talepleri doğrultusunda geliştiren genç ve dinamik Şirketimiz her zaman ilkeli, dürüst, güvenilir ve şeffaf bir hizmet politikası izlemeyi kendisine görev edinmiştir.
                    </p>

                    <p style="text-align:justify;"> Bu hedef doğrultusunda müşterilerini gelir kapısı değil iş ortağı olarak gören profesyonel ekibimizle sizlerin hizmetlerinize, işlerinize, projelerinize, startejilerinize, gelişiminize ve hedeflerinize değer katmayı isteriz. Sizin çözüm merkeziniz olarak bilişim ve bilgi teknolojileri alanında ihtiyaç duyduğunuz her konuda size yardımcı olmaya, hizmet vermeye ve size özel çözümler üretmeye hazırız.</p></li>

                </div>
                <div class="link-btn mb-30 mt-40"><a href="#" class="theme-btn btn-style-one">Teklif İste</a></div>
            </div>
            <div class="col-lg-6">
                <div class="outer-box">
                    <div class="service-block-five">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-rich"></span></div>
                            <h4><a href="#">BT Giderlerinde Azalma</a></h4>
                            <div class="service-text">
                                Doğru oluşturulan bir altyapı ile fazladan alım yapmanın önüne <br /> geçilerek hem donanım hem de yazılım maliyetlerinde azalma sağlanacaktır.

                            </div>
                        </div>
                    </div>
                    <div class="service-block-five">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-diamond-1"></span></div>
                            <h4>
                                <a href="#">
                                    Kaynakların Verimli Kullandırılması
                                </a>
                            </h4>
                            <div class="service-text">
                                Şirket bünyesinde bulunan kaynakları doğru bir planlama ile doğru zamanda tahsis edilerek BT altyapı maliyetleri azaltılacaktır.

                            </div>
                        </div>
                    </div>
                    <div class="service-block-five">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-user"></span></div>
                            <h4>
                                <a href="#">
                                    Yetkilendirilmiş Kullanıcılar
                                </a>
                            </h4>
                            <div class="service-text">
                                Şirket içindeki çalışanlar yetkilendirilmiş bölgelerde sınırlandırılarak yanlışlıkla oluşabilecek zararların önüne geçilecektir.

                            </div>
                        </div>
                    </div>
                    <div class="service-block-five">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-agenda"></span></div>
                            <h4>
                                <a href="#">
                                    Ölçeklenebilir Altyapı
                                </a>
                            </h4>
                            <div class="service-text">
                              Sistem kaynakları doğru kullanıma sunulacağı için kaynak israfı giderilmiş olup maliyetlerde azalma sağlanacaktır.

                            </div>
                        </div>
                    </div>
                    <div class="service-block-five">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-3d-modeling"></span></div>
                            <h4>
                                <a href="#">
                                    Daha Güvenli Altyapı
                                </a>
                            </h4>
                            <div class="service-text">
                                BT altyapınızın endüstri standartlarında prosedürler ile güvenliği sağlanarak bilgi güvenliğinize zarar gelmesi engellenecektir.

                            </div>
                        </div>
                    </div>
                    <div class="service-block-five">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-business"></span></div>
                            <h4>
                                <a href="#">
                                    BT Altyapısında Şeffaflık
                                </a>
                            </h4>
                            <div class="service-text">
                                BT altyapınız yetkililer tarafından izlenebilir hale getirileceği için oluşabilecek zararların önüne geçme konusunda hız kazandırılacaktır.

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


