
@{
    ViewBag.Title = "ERP_cözümler";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="main-slider2">
    <div class="container-fluid">
        <ul class="main-slider-carousel owl-carousel owl-theme slide-nav">
          
            <li class="slider-wrapper">
                <div class="image"><img src="~/Content/images/main-slider/image-9.jpg" alt=""></div>
                <div class="slider-caption">
                    <div class="container">
                        <h2>Çalışanlarınızın İşi</h2>
                        <h1>Kolaylaşacak</h1>
                        <div class="text" style="text-align:justify;">

                            Kolay kullanım, hızlı çalıştırma, çizelgeler aracılığıyla
                            <br /> doğrudan bilgi girişi , modüler yapı, yeni modüllerin kısa
                            <br />zamanda tasarım ve uygulaması ERP sistemimizin seçim
                            <br />nedenlerinden sadece birkaçı.

                        </div>
                        <div class="link-btn"><a href="@Url.Action("iletisim","Home", new { area =""})" class="theme-btn btn-style-one">Teklif İste</a></div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
        </ul>
    </div>
</section>
<section class="text-block-one">
    <div class="content">
        <div class="row">
            <div class="col-lg-8">
                <h1>Nedir Bu ERP?</h1>
                <div class="text mb-70">
                    ERP, ingilizce oalrak “Enterprise Resource Planning” kelimelerinin kısaltması olup dilimizde karşılığı “Kurumsal Kaynak Planlama” anlamına gelmektedir. Kurumsal Kaynak Planlaması anlam olarak, işletmenin tüm kaynaklarının birleştirilip, verimli olarak kullanılması için tasarlanmış bilgi sistemlerine verilen genel addır.
                    <br />
                    <br />Kurumsal Kaynak Planlama yazılımları, bir işletmenin iş süreçlerinde kullandığı satıştan muhasebeye, üretimden insan kaynaklarına, stok yönetiminden satın almaya kadar gerçekleştirilen işlem ve verilerin bir araya getirilmesine yardımcı olur. Kurumsal Kaynak Planlama sistemleri için özdel modüler yazılımlar tasarlanarak bu yazılımlarda bulunan veriler databaselede saklanır.
                    <br />
                    <br />Kurumsal Kaynak Planlama modüler ve bütünleşik bir yaklaşım sunar. Tüm bilgi, işlemin başında Kurumsal Kaynak Planlama sistemine girilir, değişik departmanlarda işlenerek bilgiye dönüşür.
                    <br />
                    <br />Kurumsal Kaynak Planlama kavramı ilk olarak üretim çevrelerinde kullanılmaya başlansa da; günümüzde çok daha geniş bir alanda telaffuz edilmektedir. ERP sistemleri, bir işletmenin iş alanına bakmadan, tüm temel işlemlerini kendi yapısı altında toplayabilir.
                    <br />
                    <br />Üretim veya satış işletmeleri, kâr amacı olmayan kuruluşlar, vakıflar, hükümetler veya diğer kurumlar ERP sistemlerini kullanabilirler. Bir ERP yazılımı bünyesinde genelde finans, muhasebe, maliyet muhasebesi, satış, satın alma, üretim, stok yönetimi, depo yönetimi, kalite kontrol, bakım onarım, satış sonrası servis, insan kaynakları gibi çeşitli uygulamalar bulunmaktadır.
                    <br />
                    <br />ERP yaklaşımının faydaları arasında; süreç ve veri standartlarının oluşturulması, bölümler arası entegrasyon ve iletişimin arttırılması, tekrarlanan veri girişlerinin ortadan kaldırılması ve tutarlı raporlama sayılabilir.
                </div>
            </div>
        </div>
    </div>
</section>


