
@{
    ViewBag.Title = "Kurumsal_göc_hizmetleri";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="project-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Kurumsal Göç Hizmetleri</h1>
                <div class="image" style="max-width:55%;"><img src="~/Content/images/resource/michaelretrie.png" alt=""></div>
            </div>

            <div class="col-lg-4 sidebar">
                <h3>Kurumsal Göç Hizmetlerimiz</h3>
                <ul class="accordion-box">
                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn active"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Danışmanlık Hizmetleri</div>
                        <div class="acc-content current">
                            <div class="content">
                                <div class="text" style="text-align:justify;">
                                    Linux Kurumsal Göç kararı aldıysanız, uygulama esnasında sorunlarla karşılaştıysanız, Lisans maliyetlerinden sıkıldıysanız bu konuda danışmanlık vermek için
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Uygulama Hizmetleri</div>
                        <div class="acc-content">
                            <div class="content">

                                <div class="text" style="text-align:justify;">
                                    eklenecek
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Eğitim Hizmetleri</div>
                        <div class="acc-content current">
                            <div class="content">

                                <div class="text" style="text-align:justify;">
                                    eklenecek
                                </div>
                            </div>
                        </div>
                    </li>

                    <!--Accordion Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Teknik Destek Hizmetleri</div>
                        <div class="acc-content current">
                            <div class="content">

                                <div class="text" style="text-align:justify;">
                                    eklenecek
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="text" style="margin-bottom:15px;">
                            MEVASİS yılların verdiği tecrübe ile şirketinizin daha güvenli, ücretsiz, daha hızlı, driver ve güncelleme sorunu olmayan bir işletim sistemi olan Linux’a göçünde yardımcınız olacaktır. Bu süreci en kısa, en verimli ve en hatasız şekilde gerçekleştirmeniz için uzman ve deneyimli kadromuz ile bir telefon kadar uzağınızdayız.
                            <br />
                            <br />Kalkınma Bakanlığı’nın hazırlamış olduğu, Yüksek Planlama Kurulu’nun 24 Şubat 2015 tarihli kararı ile kabul edilmiş ve 6 Mart 2015 tarihli Resmi Gazete’nin mükerrer sayısında yayınlanan 2015-2018 Bilgi Stratejisi ve Eylem Planı kapsamında (madde 311) başta TÜBİTAK ULAKBİM öncülüğünde geliştirilen PARDUS işletim sistemi olmak üzere açık kaynak kodlu yazılımların (AKKY) kullanımının yaygınlaştırılması planlanmaktadır. Bu kapsamda başta kamu kurumlarına destek verilmesi, ayrıca AKKY konusunda özel sektör ekosisteminin geliştirilmesi planlamaktadır. [77. Sayfa]
                            <br />
                            <br />Madde kapsamında tüm kamu kurumlarında kullanılan bilgisayarların Açık Kaynak İşletim sistemlerine dönüştürülmesi ve kullanıcıların eğitilmesi için bir göç projesi yapılmaktadır.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-lg-4">
                    <ul>
                        <li> Mint 20</li>
                        <li> Debian 20</li>
                        <li> Manjero 20</li>
                        <li> Ubuntu 20</li>
                        <li> Opensuse 20</li>
                    </ul>
                    <div class="text" style="text-align:justify;">
                        Distrowatch  sitesinde yayınlanan sonuçlara göre son 3 ay içinde kullanılan ilk 5 Linux dağıtımı yukarıdaki gibidir. Bu sayılar indirilme sayıları olup kullanım kolaylığı kişiden kişiye değişecegi için bu anlamında bir veri sağlamamaktadır
                    </div>
                </div>
                <div class="col-lg-8">
                    <h3> Linux Göç Stratejisi</h3>
                    <div class="text" style="text-align:justify;">
                        Sorunsuz geçiş için önceden adımların belirlenerek ve bu adımlara göre geçişin başlatılması gereklidir. Geçiş için izlenmesi gereken tmel adımlar;
                        <ul class="list-style-two mb-30">
                            <li> Kullanılan servis, uygulama ve sunucuların Linux uygunluğunun denetlenmesi</li>
                            <li> Son kullanıcılardan servis ve uygulama kullanımları konusunda bilgilerin alınması</li>
                            <li> Geçiş şablonunun çıkarılması</li>
                            <li>Son kullanıcının eğitimi</li>
                            <li> Geçiş şablonuna göre servis ve uygulamaların özgür / açık kaynak versiyonlarına geçişi</li>
                            <li> İşletim sistemi değişimi</li>
                            <li>on kullanıcının eğitimi ve destek</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>






        <h1>Linux & Windows Arasındaki Temel Farklar</h1>
        <ul class="accordion-box">
            <!--Accordion Block-->
            <li class="accordion block">
                <div class="acc-btn active"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Güvenlik</div>
                <div class="acc-content current">
                    <div class="content">
                        <div class="text" style="text-align:justify;">
                            Linux işletim sisteminde 60-100 arası virüs yazılmış olmasına karşın. Gelişen teknolojisi ile bugün bilinen bir virüs Linux’a zarar verememektedir.
                            <br />
                            <br />Windows işletim sistemi için yazılmış 100.000’den fazla virüs bulunmaktadır. Bunlardan korunmak için alınacak yazılımlar $80-$400 arası maliyetlerle piyasada satılmaktadır.
                        </div>
                    </div>
                </div>
            </li>

            <!--Accordion Block-->
            <li class="accordion block">
                <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Donanım Gereksinimleri</div>
                <div class="acc-content">
                    <div class="content">

                        <div class="text" style="text-align:justify;">
                            Linux her türlü donanım için optimize edilerek çalıştırılabilir. Minimum donanım gerekleri ise oldukça düşüktür.
                            <br />
                            <br />Windows yüksek performaslı donanımlar üzerinde çalışmak üzere tasarlanmıştır. Bu nedenle her türlü donanım üzerinde çalışmayabilir.
                        </div>
                    </div>
                </div>
            </li>

            <!--Accordion Block-->
            <li class="accordion block">
                <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Maliyet</div>
                <div class="acc-content">
                    <div class="content">

                        <div class="wpb_wrapper">
                            <div class="text" style="text-align:justify;">
                                Linux özgür yazılım ürünleri gibi ücretsiz olarak dağıtılır. Özelleştiririlerek belirli bir ücret karşılığı da satılabilir. Özelleştirilerek dağıtılan Linux türevlerine dağıtım denir. Ücretli linux dağıtımlarının hemen hepsi Windows karşılıklarından ucuzdur.
                                <br />
                                <br />Windows, Masaüstü kullanım için sadece işletim sistemi $200 civarıdır. Öğrenciler için bazı indirimler vardır. Sunucu sistemlerde bu rakamlar ihtiyaca göre artmakla birlikte $2000 cıvarı ücretleri vardır.
                            </div>

                        </div>
                    </div>
                </div>
            </li>

            <!--Accordion Block-->
            <li class="accordion block">
                <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Üreticisi ve Destek</div>
                <div class="acc-content">
                    <div class="content">
                        <div class="text" style="text-align:justify;">
                            Linux işletim sistemi Linus Torvalds tarafından geliştirilmiştir. Çekirdek geliştirme ekibinin başında hala o vardır. Dünyanın hemen yer yerinden binlerce geliştirici katkı vermektedir. Ücretli ya da ücretsiz destek alınabilmektedir.
                            <br />
                            <br />Microsoft tarafından üretilmiştir. Birkaç yüz geliştirici tarafından geliştirilmeye devam etmektedir. Ücretli destek alınabilir.
                        </div>
                    </div>
                </div>
            </li>
            <!--Accordion Block-->
            <li class="accordion block">
                <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Lisanslama</div>
                <div class="acc-content">
                    <div class="content">
                        <div class="text" style="text-align:justify;">
                            Linux, GNU/Özgür lisanslama modelidir.
                            <br />
                            <br />Windows Microsoft’a aittir. Hiçbir değişiklik yapamazsınız. Bilgisayarınızın göreceği zarardan ya da yazılımdaki sorunlardan dolayı Microsoft’u suçlayamazsınız. Olası sorunların düzeltilmesi için ücret ödemelisiniz.
                        </div>
                    </div>
            </li>
            <!--Accordion Block-->
            <li class="accordion block">
                <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Güncelleme</div>
                <div class="acc-content">
                    <div class="content">
                        <div class="text" style="text-align:justify;">
                            Linux merkezi ve yerel bir çok güncelleme methodunu destekler. Hazır güncelleme paketleri olduğu gibi kaynak koddan da bir yazılımı derleyerek hatta sadece gerekli bileşenleri ile sistemi güncellemek mümkündür.
                            <br />
                            <br />Windows Microsoft güncelleme servisi ile güncellenebilir. Üçüncü taraf üreticilerin geliştirdiği yazılımlar güncelleme desteği dışındadır ve ayrıca yönetilmesi gerekir.
                        </div>
                    </div>
                </div>
            </li>
            <!--Accordion Block-->
            <li class="accordion block">
                <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Donanım</div>
                <div class="acc-content">
                    <div class="content">
                        <div class="text" style="text-align:justify;">
                            Linux‘a donanım üreticileri tarafından geliştirilen sürücülerin dışında donanım teknik tablolarını yayınladıkları durumda geliştiriciler tarafından da sürücüler geliştirilmektedir.
                            <br />
                            <br />Windows‘a sadece donanım üreticileri tarafından geliştirilen sürücüler mevcuttur. Ancak yaygın bir donanım desteği vardır.
                        </div>
                    </div>
                </div>
            </li>
            <!--Accordion Block-->
            <li class="accordion block">
                <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Yapılandırma</div>
                <div class="acc-content">
                    <div class="content">
                        <div class="text" style="text-align:justify;">
                            Linux altında yapılandırmalar ayrı metin dosyalarında tutulur. Bu sayede yönetilmesi kolaydır. Bir yerdeki arıza başka bir yeri etkilemez.
                            <br />
                            <br />Windows Kütüğü (Registry) adı verilen bir yapıda tutulur. Bu dosyanın bozulması tüm sistemi çalışamaz hale getirir.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- end -->
    </div>
</section>

