
@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="project-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>İş Ortaklarımız</h1>
                <div class="image mb-30" style="margin-left:-25px;"><img src="~/Content/images/resource/Isortaklari1.png" alt=""></div>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="broucher">
                    <a href="#" class="theme-btn"><span class="flaticon-acrobat"></span>Şirket Sunumu <br>Aktif Form</a>
                </div>

                <div class="request-callback">
                    <div class="inner-box">
                        <h4>Size nasıl yardımcı olabiliriz?</h4>
                        <div class="text" style="text-align:justify;">Bizimle iletişime geçmek için lütfen online kayıt formundan yada telefo ile doğrudan iletişime geçebilirsiniz.</div>
                        <div class="phone-number"><span class="flaticon-headphones"></span>(0212) 483 70 33</div>
                        <div class="link-btn"><a href="@Url.Action("iletisim","Home", new { area =""})" class="theem-btn btn-style-one">Bize ulaşın</a></div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>

