
@{
    ViewBag.Title = "Yüksek_basarimli_hesaplama";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<section class="project-details sp-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Yüksek Başarımlı Hesaplama</h1>
                <div class="image mb-30" style="max-width:55%;"><img src="~/Content/images/resource/education.jpeg" alt=""></div>
                <div class="text mb-30" style="text-align:justify;">
                    <br />Süper bilgisayar basit olarak; yoğun paralel işlemciler, yüksek başarımlı vektör işlemciler ve öbek bilgisayarların oluşturduğu sistem (her bileşen olmak zorunda değil) olarak tanımlanabilir. Süper bilgisayarlar bilimde, deney ve hesaplamayı birleştiren hesaplamalı bilim gibi yeni metodolojilerin oluşmasını sağlamıştır.Günümüzde süper bilgisayarlar saniyede yüzlerce trilyon işlem yapar hale gelmiştir.
                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="broucher">
                    <a href="#" class="theme-btn"><span class="flaticon-acrobat"></span>Şirket Sunumu <br>Aktif Form</a>
                </div>

                <div class="request-callback" style="text-align:justify">
                    <div class="inner-box">
                        <h4>Nasıl yardımcı olabiliriz?</h4>
                        <div class="text" style="text-align:justify;">Bizimle iletişime geçmek için lütfen online kayıt formundan yada telefon ile doğrudan iletişime geçebilirsiniz.</div>
                        <div class="phone-number"><span class="flaticon-headphones"></span>(0212) 483 70 33</div>
                        <div class="link-btn"><a href="@Url.Action("iletisim","Home", new { area =""})" class="theem-btn btn-style-one">Bize ulaşın</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-lg-12">
                    <blockquote class="block-quote">

                        <div class="text" style="text-align:justify;">"İlk süper bilgisayar Zuse Z1 ismiyle 1983 yılında Konrad Zuse, Berlin, Almanya’da 1 OPS gücünde kurulmuştur. Günümüzün ise en çok işlem gücüne ulaşan süper bilgisayarı Çinde bulunan 93 Petaflops değeri ile Sunway TaihuLight ‘dır."</div>

                    </blockquote>

                    <h1>Hizmetlerimiz</h1>
                    <ul class="accordion-box">
                        <!--Accordion Block-->
                        <li class="accordion block">
                            <div class="acc-btn active"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Danışmanlık</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text" style="text-align:justify;">
                                        Büyük veriler, daha önce mevcut tekniklerle çözülmesi imkansız olan tamamen yeni ticari sorunlarla başedebilmek için değerli kurumsal veri setlerinde daha yüksek yatırım getirisi olan daha iyi iş olanakları vaad ediyor. Mevasis büyük verileri kullanmanıza ve daha büyük dağıtılmış veya paralel dosya sistemleri ve ölçeklendirme mimarileri ile daha güvenli bir HPC “bulutu” na sahip olmanızı sağlar. Verilerinizi saklama, yönetme ve güvenliğiniz için yollar bulmaya yardımcı olmak için buradayız.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Accordion Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Mimari Tasarım</div>
                            <div class="acc-content">
                                <div class="content">

                                    <div class="text" style="text-align:justify;">
                                        Akademik, ticari, endüstriyel ve devlet müşterileri için özel teknik hesaplama çözümleri tasarlıyoruz. Mevasis en iyi donanım ve yazılım ürün yelpazesiyle bir müşterinin teknik hesaplama ihtiyaçlarını inceleyecek ve müşterinin kendine özgü ortama hitap eden hesaplama uygulamalardan yazılımına kadar her katmanı bütünleştirecek bir çözüm geliştirmektedir. Müşteriler, ister tam bir anahtar teslimi çözüm ister belirli bir ihtiyacı çözmek için yalnızca tek bir ürün arıyor olsunlar bu sürecin her adımında yer alıyoruz.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Accordion Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Tasarım ve Uygulama</div>
                            <div class="acc-content">
                                <div class="content">

                                    <div class="wpb_wrapper">
                                        <div class="text" style="text-align:justify;">
                                            Mevasis’in olarak işletim sistemleri, paralel dosya sistemleri, yüksek performanslı ağ, cluster yöneticileri, tedarik sistemleri ve yapılandırma yöneticilerindeki uzmanlığımızı kullanarak inanılmaz bir müşteri listesi için teknik hesaplama sistemleri tasarladık ve inşa ettik. Cluster hesaplama ve büyük veri depolama için birçok ticari çözümün yanı sıra açık kaynak yazılımları da kullanarak sistemleri tasarlıyoruz.
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Accordion Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Cluster Yönetimi Hizmetleri</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text" style="text-align:justify;">
                                        İster ganglia, nagios, puppet, cobbler, xcat, ya da rocks olsun hepsini kullanarak yönetim işlemini gerçekleştiriyoruz. Tercihinize göre piyasadaki tüm önde gelen ürünlerle çalışıyoruz. İhtiyacınız olan her türlü çözüm için, sizi rahat ettirebilmemiz için onu inşa edebilir ve her seviyede eğitim verebiliriz.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Accordion Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Hesaplama Yardım Masası</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text" style="text-align:justify;">
                                        Yaptığımız her çözüm tamamen test edilmiş ve belgelendirilmiştir; böylece destek mühendisleri kadromuz, karşılaşabileceğiniz sorunları anlamak ve sizin için etkili çözümler bulmak için ihtiyaç duydukları tüm bilgilere erişebilmektedir. Destek taleplerinin tamamını sahipleniriz ve gerekirse, beklediğiniz yanıtı elde etmenizi ve ihtiyacınız olan sonuçları almanızı sağlamanın savunucusu olarak tedarikçi iş ortaklarımıza iletiriz.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Accordion Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Teknik Destek</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text" style="text-align:justify;">
                                        GPFS, Lustre, ZFS, Stornext ürünleri için de destek vermekteyiz.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Accordion Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Ağ Yönetimi</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text" style="text-align:justify;">
                                        Ağ araçları, herhangi bir teknik bilgi işlem çözümünün dolaşım sistemidir ve sıklıkla performansı hız sınırlayıcı unsuru temsil eder. Mevasis, uzun süredir maliyet ve performans gereksinimlerini müşterilerin ihtiyaçlarına göre tasarladığımız her çözümde Infiniband, ethernet, PCIe, SAS, fiber kanal ve diğer iletişim teknolojilerini kullanan yüksek hızlı anahtarlar ve ana bilgisayar denetleyicileri üreten şirketler ile çalışmaktadır.
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--Accordion Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon_plus fa fa-angle-down"></span> <span class="icon icon_minus fa fa-angle-down"></span></div>Uzub Sunucu İzleme</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text" style="text-align:justify;">
                                        Sunucu, dosya sistemi, network cihazları ve depolama sistemlerinizi 7×24 izleme sistemimize dahil ederecek sizin için izleme faliyetlerini yürütüyoruz.
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- end -->
                </div>
            </div>
        </div>
    </div>
</section>

